.Navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 50px;
  border: 1px solid transparent;
}

.Navbar a {
  font-size: 18px;
  color: silver;
}

.Navbar a:hover {
  color: white;
}

.nav-logo {
  font-weight: bold;
  padding-left: 10px;
  margin-left: 25px;
}

.nav-left {
  padding-right: 5%;
}

.nav-right {
  padding-left: 30%;
  padding-right: 0;
  margin-right: 35px;
}